*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.logo{
    height: 80px;
    margin-right: 10px;
}

.barra{
    background-color: #EFD3D7;
}

.nombre{
    color: grey;
    font-size: 24px;
}

.nav-link{
    color: grey !important;
}

.jumbotron{
    background-image: url(./img/arreglo2.jpg);
    background-size: cover;
    background-position: center;
    height: 800px;
    margin-bottom: 0;
    border-radius: 0;
    text-shadow: 0 0 5px black;
}

.btn-light{
    border: 1px solid blueviolet
}

.btn-light a{
    text-decoration: none;
    color: blueviolet;
}

.texto{
    height: auto;
    width: 500px;
    text-align: end;
    display: inline-block;
    float: right;
}

h2{
    background-color: #EFD3D7;
    text-align: center;
    color: grey;
    padding: 20px;
    margin-bottom: 0;
}

.nleft{
    background-color: #EFD3D7;
    background-image: url(./img/Ana.jpg);
    background-size: cover;
    background-position: center;
    height: 300px;
}

h4{
    background-color: #EFD3D7;
    text-align: center;
    color: grey;
    padding: 20px;
    margin-bottom: 0;
}

.colaboradoras{
    padding:5px;
    width: 150px;
}

.container-fluid{
    display: flex;
    justify-content: center;
}

h5{
    text-align: center;
}



footer{
    background-color: #EFD3D7;
    height: 80px;
    padding: 10px;
    text-align: center;
    font-size: 30px;
    letter-spacing: 5px;
}

.redes{
    color: blueviolet;
}

.redes a{
    text-decoration: none;
    color: white;
}

.leyenda{
    font-size: 16px;
    letter-spacing: 0;
}

